<div id="league-join-modal">
  <div class="ssk-text-large padding-bottom">Join League</div>
  <input type="text" class="form-control" ng-model="$ctrl.leagueCode"
         ng-disabled="$ctrl.checkingCode"
         ng-change="$ctrl.checkLeagueCode($ctrl.leagueCode)" placeholder="Enter league code">
  <div class="text-center padding-top" ng-if="$ctrl.checkingCode">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>
  <div ng-if="$ctrl.message" ng-bind="$ctrl.message"></div>
  <hr class="ssk-hr">
  <div class="text-center">
    <button type="button" class="btn ssk-btn-secondary" ng-click="$ctrl.close()">Close</button>
  </div>
</div>
