<div id="change-log-modal">
  <h3>Changelog</h3>

  <h4>2017-08-24 v1.6.1</h4>
  <div>* Fixed pagination bar not showing up.</div>
  <hr class="ssk-hr">

  <h4>2017-08-23 v1.6.0</h4>
  <div>* You can now add notes per tournament player.</div>
  <div>* Added loading spinners to player and match tables.</div>
  <hr class="ssk-hr">

  <h4>2017-08-22 v1.5.1</h4>
  <div>* Update favicon.</div>
  <div>* Fixed sorting issue for matches.</div>
  <div>* Update styling on modals to fade out.</div>
  <hr class="ssk-hr">

  <h4>2017-08-22 v1.5.0</h4>
  <div>* New logos!</div>
  <hr class="ssk-hr">

  <h4>2017-08-16 v1.4.0</h4>
  <div>* Added paging to tournament matches.</div>
  <hr class="ssk-hr">

  <h4>2017-08-16 v1.3.0</h4>
  <div>* Added changelog modal.</div>
  <hr class="ssk-hr">

  <h4>2017-08-16 v1.2.0</h4>
  <div>* Added recalc score functionality.</div>
  <div>* Added score chart to player stats modal.</div>
  <hr class="ssk-hr">

  <div class="text-center">
    <button type="button" class="btn ssk-btn-secondary" ng-click="$ctrl.close()">Close</button>
  </div>
</div>
