<div id="change-log-modal">
  <h3>Changelog</h3>

  <div ng-repeat="(version, changeInfo) in $ctrl.changelog">
    <h4>
      <span ng-bind="changeInfo.date"></span>
      <span ng-bind="version"></span>
    </h4>
    <div ng-repeat="change in changeInfo.changes">
      <span>*</span>
      <span ng-bind="change.description"></span>
    </div>
    <hr class="ssk-hr">
  </div>

  <div class="text-center">
    <button type="button" class="btn ssk-btn-secondary" ng-click="$ctrl.close()">Close</button>
  </div>
</div>
