$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~c3/c3';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

// Sang's Style Kit

@font-face {
  font-family: 'TheSans';
  src: url('../assets/fonts/TheSans/thesans-2-xlight-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: TheSans;
  src: url('../assets/fonts/TheSans/thesans-5-regular-webfont.woff') format('woff');
  //font-weight: normal;
  //font-style: normal;
}

@font-face {
  font-family: 'TheSans';
  src: url('../assets/fonts/TheSans/thesans-7-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// Color
$ssk-red: #c83738;
$ssk-blue: #152339;
$ssk-dark-blue: #181F2E;
$ssk-dark-gray: #29313E;
$ssk-gray: #3F4C61;
$ssk-light-blue: #5196c6;
$ssk-light-purple: #834b6c;
$ssk-purple: #9e3656;

$ssk-font-color: white;

.padding {
  padding: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.cursor {
  cursor: pointer;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

// Common
.ssk-vertical-middle {
  vertical-align: middle !important;
}

.ssk-btn-transparent {
  color: $ssk-font-color;
  background-color: inherit;
  border: 2px #ccc solid;
}

.ssk-hr {
  border-color: $ssk-gray;
}

// Typography
.ssk-text-large {
  font-size: 150%;
}

.ssk-text-light {
  font-weight: 100;
}

// Flex
.ssk-flex-column {
  display: flex;
  flex-direction: column;
}

.ssk-flex-row {
  display: flex;
  flex-direction: row;
}

.ssk-flex-end {
  display: flex;
  justify-content: flex-end;
}

.ssk-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.ssk-flex-space-around {
  display: flex;
  justify-content: space-around;
}

.ssk-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Button
.ssk-btn-primary {
  color: $ssk-font-color;
  background-color: $ssk-light-blue;
  border-color: $ssk-light-blue;
}

.ssk-btn-secondary {
  color: $ssk-font-color;
  background-color: $ssk-gray;
  border-color: $ssk-gray;
}

.ssk-btn-danger {
  color: $ssk-font-color;
  background-color: $ssk-red;
  border-color: $ssk-red;
}

.ssk-link {
  color: $ssk-font-color;
  text-decoration: underline;
  cursor: pointer;
}

// Panel
.ssk-panel {
  color: $ssk-font-color;
  background-color: $ssk-dark-blue;
}

.ssk-text-area {
  color: $ssk-font-color;
  background-color: transparent;
  resize: vertical;
}

.ssk-input {
  background-color: transparent;
  color: $ssk-font-color;
}

.ssk-list-group-item {
  background-color: transparent;
  color: $ssk-font-color;
}

// Tables
.ssk-table {
  margin: 0;
}

.ssk-table>thead>tr>th {
  border-bottom: 0;
  padding: 8px 15px;
}

.ssk-table>tbody>tr>td {
  border: none;
  border-bottom: 2px $ssk-gray solid;
  padding: 15px;
}

.ssk-table>tbody>tr:last-child>td {
  border: none;
}

.ssk-table-link:hover {
  background-color: $ssk-blue;
  cursor: pointer;
}

// Breadcrumbs
.ssk-breadcrumb {
  margin: 30px 0;
  background-color: inherit;
  padding: 0;
  color: $ssk-font-color;
}

.ssk-breadcrumb>.active {
  color: $ssk-font-color;
}

.ssk-breadcrumb>li+li:before {
  content: ">";
  padding: 0 30px;
  color: $ssk-font-color;
}


@media only screen and (max-width: 480px) {
  .ssk-breadcrumb {
    margin: 10px 0;
  }

  .ssk-breadcrumb>li+li:before {
    padding: 0 10px;
  }
}

.ssk-profile-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid $ssk-gray;
  background-clip: content-box;
  margin: 0 auto;
  padding: 3px;
}

.ssk-profile-image-lg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid $ssk-gray;
  background-clip: content-box;
  margin: 0 auto;
  padding: 3px;
}

// Modal
.ssk-modal-right {
  margin-top: 51px;
  height: calc(100% - 100px);
}

.ssk-modal-right.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}

.ssk-modal-right>.modal-dialog {
  height: 100%;
  position: absolute;
  right: 0;
  margin: 0;
  width: 400px;
}

@media only screen and (max-width: 480px) {
  .ssk-modal-right {
    height: 100%;
  }

  .ssk-modal-right>.modal-dialog {
    width: 100%;
  }

  .ssk-modal-right>.modal-dialog>.modal-content {
    padding-bottom: 50px;
  }
}

.ssk-modal-right>.modal-dialog>.modal-content {
  height: 100%;
  background: url('../assets/images/Magic-BG2.png');
  overflow-y: auto;
}

.ssk-model-backdrop.in {
  opacity: 0;
}

  /**
   * App-wide Styles
   */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: url('../assets/images/Magic-BG2.png') no-repeat;
  background-size: cover;
  color: $ssk-font-color;
  font-family: TheSans;
}


// Component styles are injected through gulp
/* inject:scss */
@import 'add-player/add-player';
@import 'league/components/league-create-modal/league-create-modal';
@import 'league/components/league-join-modal/league-join-modal';
@import 'league/league';
@import 'login/login';
@import 'main/main';
@import 'new-tournament/new-tournament';
@import 'tournament-detail/tournament-detail';
@import 'tournament/tournament';
@import '../components/change-log-modal/change-log-modal';
@import '../components/footer/footer';
@import '../components/match-table/match-table';
@import '../components/navbar/navbar';
@import '../components/player-stats-modal/player-stats-modal';
/* endinject */
