#tournament-detail {
  .action-heading {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .player-input-group {
    height: 100%;
  }

  .player-input {
    height: inherit;
  }
}
