<div id="navbar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar-main">
      <img ng-if="$ctrl.isDashboard()" class="magic-dashboard-logo hidden-xs" src="assets/images/Logo_T_new_square.png">
      <img ng-if="$ctrl.isDashboard()" class="magic-logo visible-xs-inline-block" src="assets/images/Logo_T_5.png">

      <ul class="no-margin nav navbar-nav pull-left">
        <a href="/">
          <img ng-if="!$ctrl.isDashboard()" class="magic-logo pull-left" src="assets/images/Logo_T_5.png">
        </a>
      </ul>
      <div class="no-margin pull-right padding-top">
        <div class="btn-group" uib-dropdown>
          <button ng-if="$ctrl.user" type="button" class="ssk-flex-center btn btn-primary user-button" uib-dropdown-toggle>
            <span ng-bind="$ctrl.user.first_name" class="padding-left padding-right"></span>
            <i class="fa fa-caret-down padding-right"></i>
            <img class="fb-profile-image" ng-if="$ctrl.user.picture.data.url" ng-src="{{$ctrl.user.picture.data.url}}">
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li><a href="#" ng-click="$ctrl.logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
