#navbar {
  background-color: $ssk-red;
  margin-bottom: 0;

  .magic-dashboard-logo {
    height: 125px;
    width: 125px;
    margin-top: 20px;
    position: absolute;
  }

  .magic-logo {
    margin-top: 5px;
    height: 40px;
    width: 40px;
  }

  .navbar-brand {
    color: white;
  }

  .user-button {
    padding: 0;
    height: 32px;
  }

  .fb-profile-image {
    width: 30px;
    height: 30px;
  }
}
