<div id="navbar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar-main">
      <img ng-if="$ctrl.isDashboard()" class="magic-dashboard-logo hidden-xs" src="assets/images/Logo_T_new_square.png">
      <img ng-if="$ctrl.isDashboard()" class="magic-logo visible-xs-inline-block" src="assets/images/Logo_T_5.png">

      <div class="no-margin pull-left">
        <a href="/">
          <img ng-if="!$ctrl.isDashboard()" class="magic-logo pull-left" src="assets/images/Logo_T_5.png">
        </a>
      </div>
      <div class="no-margin pull-right">
        <a ng-if="!$ctrl.user" class="navbar-brand" href="/">Tournament Tracker</a>
        <div ng-if="$ctrl.user" class="btn-group padding-top" uib-dropdown>
          <button type="button" class="ssk-flex-center btn ssk-btn-primary user-button" uib-dropdown-toggle>
            <span ng-bind="$ctrl.user.firstName" class="padding-left padding-right"></span>
            <i class="fa fa-caret-down padding-right"></i>
            <img class="fb-profile-image" ng-if="$ctrl.user.picture" ng-src="{{$ctrl.user.picture}}">
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li><a href="#" ng-click="$ctrl.logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
