<div id="navbar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar-main">
      <div class="no-margin pull-left">
        <a ng-if="$ctrl.user" ui-sref="league.dashboard">
          <img class="magic-logo pull-left" src="assets/images/Logo_T_5.png">
        </a>
      </div>
      <div class="no-margin pull-right">
        <div ng-if="$ctrl.user" class="btn-group padding-top" uib-dropdown>
          <button type="button" class="ssk-flex-center btn ssk-btn-primary user-button" uib-dropdown-toggle>
            <span ng-bind="$ctrl.user.firstName" class="padding-left padding-right"></span>
            <i class="fa fa-caret-down padding-right"></i>
            <img class="profile-image" ng-if="$ctrl.user.picture" ng-src="{{$ctrl.user.picture}}">
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li><a ui-sref="league-list({noRedirect: false})" ng-if="$ctrl.user">Leagues</a></li>
            <li><a href="#" ng-click="$ctrl.logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
