<div id="player-stats-modal">
  <div class="ssk-flex-space-between padding">
    <div class="ssk-flex-space-between">
      <div class="padding-right">
        <div class="ssk-profile-image-lg" ng-style="$ctrl.getAvatar($ctrl.tournamentPlayer.playerId)"></div>
      </div>
      <div>
        <h1 class="no-margin" ng-bind="$ctrl.tournamentPlayer.name"></h1>
        <h3 class="no-margin" ng-bind="$ctrl.tournamentPlayer.score"></h3>
      </div>
    </div>
    <div class="padding-right">
      <div class="ssk-profile-image-lg">
        <div class="padding-top text-center">Rank</div>
        <h1 class="text-center no-margin" ng-bind="$ctrl.tournamentPlayer.rank"></h1>
      </div>
    </div>
  </div>
  <hr class="ssk-hr">
  <div class="ssk-flex-space-around text-center">
    <div>
      <div>Matches</div>
      <h1 class="no-margin" ng-bind="$ctrl.playerStats.totalMatches"></h1>
    </div>
    <div>
      <div>Wins</div>
      <h1 class="no-margin" ng-bind="$ctrl.playerStats.wins"></h1>
    </div>
    <div>
      <div>Loses</div>
      <h1 class="no-margin" ng-bind="$ctrl.playerStats.losses"></h1>
    </div>
  </div>
  <hr ng-if="$ctrl.playerStats.totalMatches > 0" class="ssk-hr">
  <div ng-if="$ctrl.playerStats.totalMatches > 0" class="text-center padding-left padding-right">
    <player-score-chart class="ssk-flex-column" scores="$ctrl.playerStats.matchScores"></player-score-chart>
    <div>Score Trend</div>
  </div>
  <hr class="ssk-hr">
  <div class="padding text-center">
    <h1 class="no-margin-top" ng-bind="$ctrl.playerStats.winPercentage"></h1>
    <div class="padding-top">Likely to win next match</div>
  </div>
  <hr class="ssk-hr">
  <div class="padding">
    <label>Notes</label>
    <textarea class="form-control ssk-text-area" rows="3" ng-model="$ctrl.currentNote.message"></textarea>
  </div>
  <hr class="ssk-hr">
  <div class="text-center">
    <button type="button" class="btn ssk-btn-secondary" ng-click="$ctrl.close()">Close</button>
  </div>
</div>
