<div id="main">
  <div class="content">
    <div class="content-body">
      <div class="ssk-flex-column active-tournaments-matches">
        <div class="active-tournaments">
          <div>
            <span class="ssk-text-large">Active Tournaments</span>
            <div class="pull-right">
              <a class="ssk-link small" ui-sref="tournament">All Tournaments</a>
            </div>
          </div>
          <div class="tournament-row">
            <div class="tournament-box ssk-text-large padding cursor"
                 ng-repeat="activeTournament in $ctrl.activeTournaments"
                 ng-click="$ctrl.setSelectedTournament(activeTournament)">
              <div class="tournament ssk-text-light" ng-class="{'selected-tournament': $ctrl.selectedTournamentId === activeTournament._id}"
                   ng-bind="activeTournament.name"></div>
            </div>
            <div class="tournament-box hidden-xs hidden-sm">
              <a class="ssk-link" ui-sref="new-tournament">
                <btn class="btn btn-circle ssk-btn-transparent">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </btn>
                <div class="small">Create New</div>
              </a>
            </div>
          </div>
        </div>
        <div class="active-matches" ng-if="$ctrl.selectedTournamentId">
          <div class="active-match-action-bar">
            <span class="ssk-text-large">Recent Matches</span>
            <div class="pull-right">
              <a class="ssk-link small" ui-sref="tournament-detail({tournamentId: $ctrl.selectedTournamentId})">All Matches</a>
            </div>
          </div>
          <table class="table ssk-table">
            <tbody>
            <tr ng-if="$ctrl.matches.length === 0">
              <td colspan="100%">
                <div class="padding-left">No matches played.</div>
              </td>
            </tr>
            <tr ng-repeat="match in $ctrl.matches | orderBy: 'createdAt':true | limitTo: 5 track by match._id">
              <td>
                <i class="fa fa-lg fa-trophy padding-right padding-left" aria-hidden="true"></i>
                <strong ng-bind="$ctrl.tournamentPlayersById[match['match-results'][0].tournamentPlayerId].name"></strong>
                <span class="ssk-text-light">vs.</span>
                <span class="ssk-text-light" ng-bind="$ctrl.tournamentPlayersById[match['match-results'][1].tournamentPlayerId].name"></span>
              </td>
              <td class="hidden-xs">
                <strong>
                  +<span ng-bind="match['match-results'][0].scoreDelta"></span>
                </strong>
              </td>
              <td class="hidden-xs">
                <span ng-bind="match['match-results'][1].scoreDelta"></span>
              </td>
              <td class="ssk-text-light" ng-bind="match.createdAt | date:'mediumDate'"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="active-stats-bg hidden-xs hidden-sm" ng-if="$ctrl.selectedTournamentId">
        <div class="active-stats">
          <div class="active-stats-top-players">
            <div class="padding-bottom">
              <span class="ssk-text-large">Top Players</span>
              <div class="pull-right">
                <a class="ssk-link small" ui-sref="tournament-detail({tournamentId: $ctrl.selectedTournamentId})">All Rankings</a>
              </div>
            </div>
            <div class="player-info padding-bottom" ng-repeat="tournamentPlayer in $ctrl.tournamentPlayers | limitTo: 3 track by tournamentPlayer._id">
              <div class="rank-indicator ssk-text-large" ng-bind="tournamentPlayer.rank"></div>
              <div class="padding-left padding-right">
                <div class="ssk-profile-image" ng-style="$ctrl.getAvatar(tournamentPlayer.playerId)"></div>
              </div>
              <div class="ssk-text-large" ng-bind="tournamentPlayer.name"></div>
              <div class="score padding-right ssk-text-large" ng-bind="tournamentPlayer.score"></div>
            </div>
          </div>
          <div class="active-stats-player-of-week">
            <div class="padding-bottom">
              <span class="ssk-text-large">Player of the week</span>
            </div>
            <div class="player-info" ng-repeat="tournamentPlayer in $ctrl.tournamentPlayers | orderBy:'updatedAt':true | limitTo: 1 track by tournamentPlayer._id">
              <div class="rank-indicator ssk-text-large" ng-bind="tournamentPlayer.rank"></div>
              <div class="padding-left padding-right profile-display">
                <div class="ssk-profile-image" ng-style="$ctrl.getAvatar(tournamentPlayer.playerId)"></div>
              </div>
              <div class="ssk-text-large" ng-bind="tournamentPlayer.name"></div>
              <div class="score padding-right ssk-text-large" ng-bind="tournamentPlayer.score"></div>
            </div>
          </div>
          <div class="active-stats-players">
            <span class="ssk-text-large">Total Players</span>
            <div class="pull-right">
              <a class="ssk-link small" ui-sref="add-player({tournamentId: $ctrl.selectedTournamentId})">Add Player</a>
            </div>
            <div class="num-players ssk-text-light" ng-bind="$ctrl.tournamentPlayers.length"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
