#main {
  //background: url("../assets/images/mtg_background2.jpg") top no-repeat, linear-gradient(to bottom right, $ssk-dark-gray, $ssk-gray) bottom no-repeat;
  //background: url("../assets/images/Magic-BG1.png") top no-repeat;
  background-size: 100% 50%;
  height: 100%;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .content-body {
    display: flex;
    flex: 0.85;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }

  @media only screen and (min-width: 970px) {
    .content-body {
      padding-bottom: 75px;
      margin-top: 75px;
    }
  }

  .active-tournaments {
    background-color: $ssk-blue;
    height: 33.3333333%;
    padding: 20px;
  }

  .tournament-row {
    padding-top: 20px;
    display: flex;
    height: calc( 100% - 20px );
  }

  .tournament-box {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .tournament-box + .tournament-box {
    border-left: 1px $ssk-gray solid;
  }

  .tournament {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .selected-tournament {
    margin-bottom: -3px;
    border-bottom: 3px $ssk-red solid;
  }

  .active-matches {
    background-color: $ssk-dark-blue;
    height: 66.6666666%;
    padding: 20px;
    overflow: scroll;
  }

  .active-match-action-bar {
    padding-bottom: 40px;
  }

  .active-stats-bg {
    background: url("../assets/images/mtg_mage.png");
    background-size: cover;
    display: flex;
    flex: 1;
  }

  .active-stats {
    background: linear-gradient($ssk-light-blue, $ssk-purple);
    opacity: 0.90;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .active-stats-top-players {
    flex: 2;
    padding: 20px 20px 0 20px;
  }

  .player-info {
    display: flex;
  }

  .player-info>* {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .score {
    flex: 1;
    justify-content: flex-end;
  }

  .rank-indicator {
    background: url("../assets/images/d20.png");
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-top: 10px;
  }

  .profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid $ssk-gray;
    background-clip: content-box;
    margin: 0 auto;
    padding: 3px;
  }

  .active-stats-player-of-week {
    flex: 1;
    background: linear-gradient($ssk-light-purple, $ssk-purple);
    padding: 20px;
  }

  .active-stats-players {
    flex: 1;
    padding: 20px;
  }
}
