<div id="add-player" class="container">
  <ol class="breadcrumb ssk-breadcrumb">
    <li class="breadcrumb-item">
      <a class="ssk-link" ui-sref="tournament">Tournaments</a>
    </li>
    <li class="breadcrumb-item">
      <a class="ssk-link" ui-sref="tournament-detail({tournamentId: $ctrl.tournament._id})" ng-bind="$ctrl.tournament.name"></a>
    </li>
    <li class="breadcrumb-item active">Players</li>
  </ol>

  <input type="text" ng-model="$ctrl.playerNameToAdd" class="form-control"
         uib-typeahead="player.name for player in $ctrl.players | filter:$viewValue | limitTo:8"
         ng-enter="$ctrl.addPlayer()" placeholder="Add new player...">

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="tournamentPlayer in $ctrl.tournamentPlayers">
      <button type="button" class="btn btn-default badge">
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.removePlayer(tournamentPlayer)"></i>
      </button>
      <span ng-bind="$ctrl.playersById[tournamentPlayer.playerId].name"></span>
    </li>
  </ul>
</div>
