<div id="login" class="container text-center ssk-flex-center">
  <div class="login-background ssk-flex-center">
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
         data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
  </div>
    <!--<fb:login-button max-rows="1" size="large"></fb:login-button>-->
    <!--<button class="btn ssk-btn-primary" ng-click="$ctrl.logout()">Logout</button>-->
    <!--<div ng-bind="$ctrl.userInfo | json"></div>-->
    <!--<img ng-if="$ctrl.userInfo.picture.data.url" ng-src="{{$ctrl.userInfo.picture.data.url}}">-->
</div>
