#login {
  height: 100%;

  .logo {
    background-size: contain;
    height: 150px;
    width: 150px;
  }

  .login-button {
    width: 125px;
    height: 125px;
  }

  .btn-facebook {
    background-color: #4267b2;
    color: $ssk-font-color;
  }

  .btn-google {
    background-color: #f4511e;
    color: $ssk-font-color;
  }

  .image-logo {
    width: 100px;
    height: 100px;
  }

  @media only screen and (min-width: 970px) {
    .background-image {
      position: absolute;
      height: 50%;
      width: 100%;
      top: 0;
      background: url("/assets/images/mtg_background2.jpg") no-repeat center center fixed;
      background-size: cover;
    }

    .login-background {
      height: 60%;
      width: 60%;
      background: linear-gradient($ssk-blue, $ssk-dark-blue);
      opacity: 0.97;
    }
  }
}
