<div id="login" class="container text-center ssk-flex-center">
  <div class="login-background ssk-flex-center">
    <div ng-if="!$ctrl.loggingIn" class="ssk-flex-column">
      <button class="btn btn-facebook text-center login-button" ng-click="$ctrl.authenticate('facebook')">
        Continue with Facebook
      </button>
      <button class="btn btn-google text-center login-button" ng-click="$ctrl.authenticate('google')">
        Continue with Google
      </button>
    </div>
    <div ng-if="$ctrl.loggingIn">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
  </div>
</div>
