#login {
  height: 100%;

  .login-button {
    width: 250px;
    height: 40px;
  }

  .login-button + .login-button {
    margin-top: 10px;
  }

  .btn-facebook {
    background-color: #4267b2;
    color: $ssk-font-color;
  }

  .btn-google {
    background-color: #df493a;
    color: $ssk-font-color;
  }

  @media only screen and (min-width: 970px) {
    .login-background {
      height: 75%;
      width: 100%;
      background: url("../assets/images/login-background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
